<section class="categories-show">

  <header class="page-header">
    <h1>
      <%= @category.name %>
    </h1>
  </header>

  <div class="products">
  <ul>
    <%= render @category %>
  </ul>
  </div>

</section>
